[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
dj-database-url = "*"
uwsgi = "*"
whitenoise = "*"
django-admin-inline-paginator = "*"
pytest = "*"
pytest-django = "*"

[dev-packages]

[requires]
python_version = "3.13"
